@import "styles/header.css";
@import "styles/burger.css";
@import "styles/intro.css";
@import "styles/about-us.css";
@import "styles/projects.css";
@import "styles/services.css";
@import "styles/popup.css";
@import "styles/feedback.css";
@import "styles/gallery.css";
@import "styles/contacts.css";
@import "styles/footer.css";

html {
  scroll-behavior: smooth; /*плавный скрол*/
}

body {
  font-family: "Manrope", Courier, monospace;
}

.container {
  margin: 0 auto;
  width: 1150px;
}

section {
  margin-bottom: 150px;
}

.header-inner {
  margin-bottom: 70px;
}

h1,
h2,
h3,
p,
a,
button {
  letter-spacing: -0.03em;
}

h2 {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  color: #121212;
}

.section-black {
  background-color: #121212;
}

@media (max-width: 1199px) {
  section {
    margin-bottom: 120px;
  }

  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 17px;
  }

  .header-inner {
    margin-bottom: 73px;
  }

  .services-inner {
    padding-bottom: 120px;
  }
}

@media (max-width: 767px) {
  h2 {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
  }

  .container {
    padding-left: 13px;
    padding-right: 12px;
  }

  .header-inner {
    margin-bottom: 61px;
  }

  section {
    margin-bottom: 80px;
  }

  .services-inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
