.footer {
  background-color: #121212;
}

.footer-inner {
  padding-top: 60px;
  padding-bottom: 30px;
}

.footer-nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 450px;
}

.footer__link {
  display: block;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.5s;
}

.footer__link:hover {
  opacity: 0.5;
}

.copyright {
  padding-top: 87px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  line-height: 27px;
  opacity: 0.5;
}

@media (max-width: 767px) {
  .footer-inner {
    padding-top: 30px;
    padding-bottom: 28px;
  }

  .footer-nav {
    width: 281px;
  }

  .footer__link {
    font-size: 12px;
    line-height: 16px;
  }

  .copyright {
    padding-top: 41px;
    font-size: 13px;
    line-height: 18px;
  }
}
