.header-inner {
  padding-top: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: block;
}

.logo {
  width: 127px;
  height: 22px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav__link {
  display: block;
  height: 25px;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: #121212;
}

.nav__link:hover {
  border-bottom: 1px solid #000000;
  opacity: 0.5; /*прозрачгость текста*/
}

@media (max-width: 1199px) {
  .nav {
    display: none;
  }
}
