.input {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 25px;
  line-height: 34px;
  border: none;
  color: #000000;
  border-bottom: 1px solid #000000;
}

input:focus {
  outline: none;
}

@media (max-width: 768px) {
  .input {
    margin-left: 0;
    padding: 0;
    margin-bottom: 40px;
    width: 100%;
    font-size: 18px;
    line-height: 25px;
  }
}
