body {
  font-family: 'Manrope', Courier, monospace;
}

.container {
  width: 1150px; /*ширина контейнера*/
  margin: 0 auto; /*выравниваем контейнер по центру с автоматическим внешними отступами*/
  box-sizing: border-box;
}

.header-wraper {
  margin-bottom: 150px;
}

h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  width: 990px;
  height: 120px;
  margin-bottom: 30px;
}

.who-we-are-wraper {
  background-image: url(../resurses/Rectangle1.jpg);
  width: 1150px;
  height: 500px; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
}


.who-we-are {
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  width: 450px;
  height: 81px;
  color: #FFFFFF;
  padding-left: 40px;
  padding-bottom: 40px;

} 

.about-us-wraper {
  width: 1051px;
  max-width: 100%;
  height: 518px;
  margin-bottom: 150px;
}

.about-us {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
}

.about-us-text {
  font-size: 45px;
  line-height: 61px;
  font-weight: 400;
  margin-bottom: 30px;
  letter-spacing: -0.03em /*растояние между буквами или пробелами (-0.03em относительная величина)*/
}

.btn-services {
  display: block;
  width: 255px;
  height: 67px;
  font-size: 20px;
  text-align: center;
  line-height: 67px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  background-color: #AD1818;
}

.project {
  margin-bottom: 90px;
}

.project-title {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
}

.img-project {
  width: 1150px;
  height: 450px;
  margin-bottom: 15px;
}

.project-name {
  width: 542px;
  height: 41px;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
  margin-bottom: 15px;
}

.btn-more-details {
  /* width: 127px;
  height: 27px; */
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  color: #AD1818;
  /* transition: transform .5s; */
}

/* .btn-more-details:hover {
  transform: scale(1.3);
} */

.btn-all-project {
  display: block;
  height: 153px;
  font-size: 30px;
  line-height: 153px;
  text-align: center;
  border: 1px solid #AD1818;
  border-radius: 5px;
  text-decoration: none;
  color: #AD1818;

}

.btn-all-project:hover {
  background-color: #AD1818;
  color: #FFFFFF;
}



