body {
  width: 100%;
  font-family: "Manrope", Courier, monospace;
}

.wrapper {
  margin: 0 auto;
  width: 1400px;
}

.container {
  /* margin-bottom: 150px; */
  margin: 0 auto 150px; /*выравниваем контейнер по центру с автоматическим внешними отступами*/
  width: 1150px; /*ширина контейнера*/
  box-sizing: border-box; /*можно сразу это свойство вставить reset.css делает контейнер именно заданного размера*/
}

h1 {
  margin-bottom: 30px;
  width: 990px;
  height: 120px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
}

.who-we-are-wraper {
  width: 1150px;
  height: 500px;
  background-image: url(../resurses/about-us.jpg);
  position: relative;
}

.who-we-are {
  width: 450px;
  height: 81px;
  position: absolute;
  left: 40px;
  bottom: 40px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  color: #ffffff;
}

.about-us-wraper {
  width: 1051px;
  max-width: 100%;
  height: 518px;
}

.about-us {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
}

.about-us-text {
  margin-bottom: 30px;
  font-size: 45px;
  line-height: 61px;
  font-weight: 400;
  letter-spacing: -0.03em; /*растояние между буквами или пробелами (-0.03em относительная величина)*/
}

.btn-services {
  display: block;
  width: 255px;
  height: 67px;
  background-color: #ad1818;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  line-height: 67px;
  text-decoration: none;
  color: white;
}

.project {
  margin-bottom: 90px;
}

.project-title {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
}

.img-project {
  margin-bottom: 15px;
  width: 1150px;
  height: 450px;
}

.project-name {
  margin-bottom: 15px;
  width: 542px;
  height: 41px;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
}

.btn-more-details {
  display: block;
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  color: #ad1818;
  transition: all 0.5s; /*приеняем к всему контенту время изменения при наведении курсора*/
}

.btn-more-details:hover {
  text-shadow: gray 7px 7px 7px;
  transform: scaleY(1.1);
}

.btn-all-project {
  width: 100%;
  display: block;
  height: 153px;
  font-size: 30px;
  line-height: 153px;
  border: 1px solid #ad1818;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: #ad1818;
  transition: all 0.5s;
}

.btn-all-project:hover {
  background-color: #ad1818;
  color: #ffffff;
}

.wraper-container {
  background-color: black;
  padding-bottom: 150px;
}

.container_last {
  margin-bottom: 0;
}

.service-title {
  margin-bottom: 34px;
  padding-top: 151px;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.service {
  margin-bottom: 60px;
}

.service:nth-last-child(1) {
  margin-bottom: 0;
}

.img-service {
  margin-bottom: 15px;
  width: 1150px;
  height: 270px;
}

.service-name {
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
}

.project-forest-landscape {
  background-image: url(../resurses/project-img.jpg);
  width: 1400px;
  height: 717px;
  position: relative;
}

.project-forest-landscape p {
  width: 443px;
  position: absolute;
  left: 125px;
  bottom: 60px;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
  color: #ffffff;
}

/* НИЖЕ стили для способа через FLEX */

/* .project-img-wraper {
  background-image: url(../resurses/project-img.jpg);
  width: 1400px;
  height: 717px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
}

.project-img-text {
  padding: 0 0 60px 125px;
  width: 443px;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
  color: #ffffff;
} */
